@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    border: 1px solid pink;
    padding: 1em;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    border-radius: 80px;
    background-color: rgb(224, 79, 79);
}

.header {
    /* border: 1px solid blue; */
    font-family: 'Courgette', cursive;
    color: rgb(173, 153, 39);
    font-size: 30px;
    text-shadow: 3px 3px black;
}

h1 {
    margin: 0;
}

.buttons {
    border: 1px solid red;
}

.grid {
    display: grid;
    height: 650px;
    width: 650px;
    border: 2px solid rgb(73, 72, 72);
    border-radius: 5px;
}

@media only screen and (max-width: 720px) {
    .grid {
        height: 500px;
        width: 500px;
    }
}


@media only screen and (max-width: 600px) {
    .grid {
        height: 400px;
        width: 400px;
    }
}

@media only screen and (max-width: 500px) {
    .grid {
        height: 300px;
        width: 300px;
    }
}